<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- if page.layout == 'home' -%}
          <div class="breadcrumbs">&nbsp;</div>
        {%- else -%}
          {%- include breadcrumbs.html -%}
        {%- endif -%}
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
