---
layout: default
---

<div>
  <header class="post-header">
    <h1 class="page-title">Hi, I'm Ian.</h1>
  </header>
  <div class="post-content" style="margin-bottom: 100px">
    <p>I'm a long-term resident of Tokyo.<br>
    And in my free time I make stuff.</p>
  </div>

  {{ content }}

  <div class="column-container">
    <div class="column column-left">
      <h2 class="column-header">Recent <a href="/blog">blog</a> posts</h2>
      <ul class="post-list">
        {%- if site.categories.Blog.size > 0 -%}
          {%- for post in site.categories.Blog limit: 3 -%}
            <li>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h3>
                <a class="post-link post-title" style="font-size: 24px" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>

              {%- if site.show_excerpts -%}
                <div class="post-content">
                  {{ post.excerpt }}
                  <a style="font-weight: 600" href="{{ post.url | relative_url }}">Read more</a>
                </div>
              {%- endif -%}
            </li>
          {%- endfor -%}
        {%- else -%}
          <p class="post-content">Nothing here yet...</p>
        {%- endif -%}
      </ul>
    </div>

    <div class="column column-right">
      <h2 class="column-header">Recent <a href="/reviews">reviews</a></h2>
      <ul class="post-list">
        {%- if site.categories.Reviews.size > 0 -%}
          {%- for post in site.categories.Reviews limit: 3 -%}
            <li>
              {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h3>
                <a class="post-link post-title" style="font-size: 24px" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h3>

              {%- if site.show_excerpts -%}
                <div class="post-content">
                  {{ post.excerpt }}
                  <a style="font-weight: 600" href="{{ post.url | relative_url }}">Read more</a>
                </div>
              {%- endif -%}
            </li>
          {%- endfor -%}
        {%- else -%}
          <p class="post-content">Nothing here yet...</p>
        {%- endif -%}
      </ul>

    </div>
  </div>
</div>
