<div class="breadcrumbs">
  {%- if page.layout != 'home' -%}
    <a href="{{ "/" | relative_url }}">Home</a><span>></span>
  {%- else -%}
    <a href="{{ "/" | relative_url }}">Home</a>
  {%- endif -%}

  {%- if page.categories and page.layout != 'page' -%}
    <a href="/{{ page.categories[0] | downcase }}">{{ page.categories }}</a>
  {%- endif -%}

  {%- if page.layout == 'tags' -%}
    <span>></span>Tags
  {%- endif-%}

  {%- if page.layout == 'post' -%}
    <span>></span>Posts
  {%- endif -%}
</div>